{% extends 'base.html.twig' %}

{% block body %} 
 <about>
 <h1>Bienvenue </h1> 
 
<competences>
    <div class="container">
        <h1>Mes compétences</h1>
       <div class="progress-bar" style="--width: 85"
       data-label="Anglais"></div>
       <div class="progress-bar" style="--width: 90"
       data-label="Roumain"></div>
        <div class="progress-bar" style="--width: 65"
       data-label="HTML"></div>
        <div class="progress-bar" style="--width: 70"
       data-label="Word"></div>
</div>
<div class="container">
        <h1>Mes Loisirs</h1>
        <div class="progress-bar" style="--width: 95"
       data-label="Sport"></div>
       <div class="progress-bar" style="--width: 80"
       data-label="Voyages"></div>
        <div class="progress-bar" style="--width:85"
       data-label="Cinéma"></div>
        </div>
       

       

{% endblock %}