{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
<but>
      </div>
       <div class="centrer-button" align="center">
       <img  alt="stylesheet" src="{{ asset('CV.jpg') }}"/><br>
      <a href="CV-Luca.odt"><button>Télécharger</button></a>
      
</div>

     {% endblock %}