{% extends 'base.html.twig' %}

{% block body %} 
    <form>
        <h1>Contactez-nous</h1>
        <div class="separation"></div>
        <div class="corps-formulaire">
             <div class="gauche">
                  <div class="boite"></div>
                       <label>Votre Nom</label>
                       
                        <input type="text">
                          <i class="fas fa-user"></i></br>
                  <div class="boite"></div>
                   <label>Votre adresse e-mail</label>
                        <input type="text">
                        <i class="fas fa-envelope"></i>
                  <div class="boite"></div>
                        <label>Votre téléphone</label>
                        <input type="text">  
                        <i class="fas fa-mobile"></i>
                  </div>
            <div class="droite">
                 <div class="groupe">
                      <label>Messsage</label>
                      <textarea placeholder="Saisissez ici..."></textarea>
                
            </div>
        </div>
    </div>

        <div class="pied-formulaire" align="center">
             <button>Envoyer</button>
        </div>
    </form>
{% endblock %}