{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<index>
<div class="container">
	<div class="row">
 <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">Bienvenue</div>
  <div class="card-body">
    <h4 class="card-title">Bienvenue sur mon site</h4>
    <p class="card-text">
    <ul>
                       Je vous souhaite la bienvenue sur mon site.</br>
        Je m'appelle Tenea Luca,j'ai 20 ans, et je suis un élève à l'IUT de Roanne en BUT Réseaux et Télécommunications.</br>
        Sur ce site vous aller trouver différentes informations me concernant, comme mon CV, mon portofolio et autre.
    </ul>
    <div class="pied-index" align="center">
            <button><a href="/About">A Propos</a></button>
  </div>
  </div>    
{% endblock %}
