{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
     <!-- Administrer -->
       <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">Administrer</div>
  <div class="card-body">
    <h4 class="card-title">Administrer les réseaux et l'internet</h4>
    <p class="card-text"><ul>
                        <li>
                             Assister l'administrateur du réseau
                        </li>
                        <li>
                             Administrer un réseau
                        </li>
                        <li>
                             Concevoir un réseau
                        </li>
                    </ul>
                    </p>
  </div>
  </div>
               
 <div class="container">
    <div class="row">
     <!-- Connecter -->
           <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">Connecter</div>
  <div class="card-body">
    <h4 class="card-title">Connecter les entreprises et les usagers</h4>
    <p class="card-text"><ul>
                        <li>
                             Assister l'administrateur du réseau
                        </li>
                        <li>
                             Administrer un réseau
                        </li>
                        <li>
                             Concevoir un réseau
                        </li>
                    </ul>
                    </p>
  </div>
  </div>
        
 <div class="container">
    <div class="row">
<!-- Creer -->
              <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">Créer</div>
  <div class="card-body">
    <h4 class="card-title">Créer des outils et applications informatiques pour les R&T</h4>
    <p class="card-text"><ul>
                        <li>
                             Assister l'administrateur du réseau
                        </li>
                        <li>
                             Administrer un réseau
                        </li>
                        <li>
                             Concevoir un réseau
                        </li>
                    </ul>
                    </p>
  </div>
  </div>    
 {% endblock %}